extends layout

block content
  h1= title
  p  
    a(href="/books/new").button Create New Book 
  include search/search
  include book-list
  - var n = 1;
    table.pagination 
      tr 
        td Page
        while n <= numberOfPages
          td
            if (n == currentPage)
              a(href=`/books/page/${n}` aria-label=`Currently on Page ${n} of ${numberOfPages}`).button.active #{n++}
            else 
              a(href=`/books/page/${n}` aria-label=`Page ${n} of ${numberOfPages}`).button #{n++}
            
