extends layout

block content
  h1= title
  p  
    a(href="/books/new").button Create New Book 
  include search
  table.books
    thead 
      tr 
        td Title 
        td Author 
        td Genre 
        td Year
    tbody
      each book in books
        tr 
          td
            a(href=`/books/${book.id}`) #{book.title}
          td= book.author 
          td= book.genre
          td= book.year
  - var n = 1;
    table.pagination 
      tr 
        td Page
        while n < numberOfPages
          td
            if (n == currentPage)
              a(href=`/books/page/${n}` aria-label=`Currently on Page ${n} of ${numberOfPages - 1}`).button.active #{n++}
            else 
              a(href=`/books/page/${n}` aria-label=`Page ${n} of ${numberOfPages - 1}`).button #{n++}
            
