extends layout

block content
  h1= title
  p  
    a(href="/books/new").button Create New Book 
  p 
    form(action="/books", method="post")
      label(for="search") Search books  
      input(type="text", name="search")
      input(type="submit" value="Search")
  table.books
    thead 
      tr 
        td Title 
        td Author 
        td Genre 
        td Year
    tbody
      each book in books
        tr 
          td
            a(href=`/books/${book.id}`) #{book.title}
          td= book.author 
          td= book.genre
          td= book.year
  - var n = 0;
    table.pagination 
      tr 
        while n < numberOfPages
          td 
            a(href=`/books/page/${n}`).button #{n++}
