extends layout

block content
  include search-title
  include search
  table.books
    thead 
      tr 
        td Title 
        td Author 
        td Genre 
        td Year
    tbody
      each book in books
        tr 
          td
            a(href=`/books/${book.id}`) #{book.title}
          td= book.author 
          td= book.genre
          td= book.year
  p 
    a(href='/').button Back to Home
